.testimonials {
    padding: 20px;
    background-color: #61dbeb;
  }
  
  .section-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .testimonials-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .testimonial-card {
    background-color: #1d9094;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .testimonial-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .testimonial-quote {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .testimonial-author {
    font-size: 1em;
    color: #111014;
  }
  
  
  @media (max-width: 768px) {
    .testimonials-grid {
      flex-direction: column;
      align-items: center;
    }
  
    .testimonial-card {
      width: 100%;
      max-width: 90%;
    }
  }
  