
.best-place {
  padding: 20px;
  background-color: #f4f4f4;
}

.section-title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.places-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.place-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.place-card:hover {
  transform: translateY(-10px);
}

.place-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.place-name {
  font-size: 1.5em;
  margin: 15px;
}

.place-description {
  font-size: 1em;
  margin: 15px;
}

.place-price {
  font-size: 1.2em;
  font-weight: bold;
  color: #007b5e;
  margin: 15px;
}


@media (max-width: 768px) {
  .places-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .place-card {
    width: 100%;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .places-grid {
    grid-template-columns: 1fr;
  }

  .place-card {
    width: 100%;
    max-width: 100%;
  }
}
